<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Code</th>
			<th>Description</th>
			<th>Available</th>
			<th>Price</th>
			<th>Family</th>
			<th>Class ID</th>
		</tr>
	</thead>
	<tbody>
		{{#each products}}
		<tr>
			<th scope=row>{{code}}</th>
			<td>{{description}}</td>
			<td>{{inventory_available}}</td>
			<td>{{sell_price}}</td>
			<td>{{family}}</td>
			<td>{{category.name}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
